<!-- <ion-content class="navPage">
  <ion-img class="navLogo" src="/assets/images/logo.png"></ion-img>
  <ion-list style="height: 90%;">
    <ion-item class="navItem">MON</ion-item>
    <ion-item class="navItem">TUE</ion-item>
    <ion-item class="navItem">WED</ion-item>
    <ion-item class="navItem">THU</ion-item>
    <ion-item class="navItem">FRI</ion-item>
  </ion-list>
</ion-content> -->

<ion-content class="navPage">

   
    <ion-img class="navLogo" src="/assets/images/logo_white.png"></ion-img>
    <div class="parent navItem">
      <div (click) = "test()" tappable class=" child">
        MON
      </div>
    </div>

    <div class="parent navItem">
      <div (click) = "test()" tappable class=" child">
        TUE
      </div>
    </div>

    <div class="parent navItem">
      <div (click) = "test()" tappable class=" child">
        WED
      </div>
    </div>

    <div class="parent navItem">
      <div (click) = "test()" tappable class=" child">
        THU
      </div>
    </div>

    <div class="parent navItem">
      <div (click) = "test()" tappable class=" child">
        FRI
      </div>
    </div>
    

    
 <!--    <ion-button  class=" navItem">
      <ion-title >MON</ion-title>
    </ion-button >
    <br>
    <ion-button class=" navItem">
      <ion-title>TUE</ion-title>
    </ion-button>
    <br>
    <ion-button class=" navItem">
      <ion-title>WED</ion-title>
    </ion-button>
    <br>
    <ion-button class=" navItem">
      <ion-title>THU</ion-title>
    </ion-button>
    <br>
    <ion-button class=" navItem">
      <ion-title>FRY</ion-title>
    </ion-button> -->

</ion-content>
