<ion-content>
      
  <div style="display: flex; flex-wrap: nowrap; height: 100%;width: 100%; ">
   <app-side-nav style="width: 10%;height: 100%;" (emitter)="onDayChanged($event)"></app-side-nav> 
   <div style="height:100%;width:90%;">
     <div style="height: 20%;">
       <div style="display: flex; flex-wrap: nowrap;">
         <h4 style="width: 50%;text-align: center;">OPRDERS OVERVIEW</h4>
         <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchEventFired($event)" style="width: 50%;"></ion-searchbar>
       </div>

     </div>
     <div style="height: 70%;overflow-y: auto; width: 99%;" >
        <ion-grid>
          <ion-row>
            <ion-col size = 6 *ngFor="let order of filteredOrders" >
              <app-order [order] = "order"></app-order>
            </ion-col>
          </ion-row>
        </ion-grid>
     </div>
    
   </div>
 </div> 
</ion-content>


