<ion-header>
  <ion-toolbar>
    <ion-title>{{restaurant.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="padding-left: 5%;padding-right: 5%;">
  <div style="height: 15%;width: 100%;background-color: aqua;">
    <app-top-nav (emitter)="onDayChanged($event)"></app-top-nav>
  </div>
  <div style="height: 85%;width: 100%;overflow-y: auto;">


    <ion-grid>
      <ion-row>
        <ion-col  size=6 *ngFor="let dish of dishesForCurrentDay" [ngClass]= "{'inCart' : dish.inCart}">
          <app-mobile-meal  [mobileDish]="dish" (clickEmitter)="onMobileMealClicked($event)" style="height: 100%;"></app-mobile-meal>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal = "end" slot="fixed">
    
    <ion-fab-button [disabled]="false" [routerLink]="['/mobile/tabs/cart']">
      <ion-icon name="Cart"></ion-icon>
      <ion-badge>{{dishesInCartCount}}</ion-badge>
    </ion-fab-button>
    
  </ion-fab>


<!--   <ion-fab [hidden]="!isLoggedIn || isMobile" (click) = "openMenu()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>