<ion-content>

  <div style="
  height: 10%;
  width: 100%;
  background-color: green;
  text-align: center;
  display: grid;
  vertical-align:bottom;
  ">
    <h4>My Profile
    </h4>
  </div>

  <div style="height: 30%;width: 100%;background-color: wheat;">
    <div class="input-circle" (click)="onSelectImage()">
      <ion-icon style="margin-top: 41px;" name="person-outline"></ion-icon>
    </div>
  </div>

  <ion-list>
    <ion-item>
      <div style="height: 7%; width: 100%;text-align: center;">
        <div style="text-align: center;height: 100%;">Ivana Horvat</div>
      </div>
    </ion-item>
    <ion-item>
      <div style="height: 5%; width: 100%;display: flex;justify-content: space-between;">
        <div style="text-align: center;height: 100%;">Ivana Horvat</div>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <ion-list>
          
        </ion-list>
      </div>
    </ion-item>
    <ion-item>

      <div style="height: 5%; width: 100%;display: flex;justify-content: space-between;">
        <div style="text-align: center;height: 100%;">Ivana Horvat</div>
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>

    </ion-item>
    <ion-item>
      <div style="height: 5%; width: 100%;display: flex;justify-content: space-between;">
        <div style="text-align: center;height: 100%;">Ivana Horvat</div>
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-list>








</ion-content>