<ion-content>

  <div class="profile">My Profile</div>

  <div style="width: 100%;text-align: center;">

    <ion-avatar class="avatar">
      <ion-img [src]="profilePhoto" class="picture">
      </ion-img>
    </ion-avatar>
  </div>

  <div style="padding-left: 5%;padding-right: 5%;">
    <ion-list>
      <div class="titleParent">
        <div class="title">{{userName}}</div>
      </div>
      <ion-item>
        <div (click)="onOrdersTabClicked()"class="listItem">
          <div  class="listTitle">My orders</div>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-item>
      <ion-item>
        <div class="listItem">
          <div class="listTitle">My payment cards</div>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-item>
      <ion-item>
        <div class="listItem">
          <div  class="listTitle">My adress</div>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </div>








</ion-content>