.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    text-align: center;
    align-items: center;
}

.dishesList {
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
}

.profile {
    height: 10%;
    width: 100%;
    text-align: center;
    display: grid;
    vertical-align:bottom;
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}