<ion-content>

  

  <div style="padding-right: 5%;padding-left: 5%;padding-top: 5%;height: 100%;">

    <div class="profile"> 
      Shopping cart
    </div>

    <div class="centerDiv" style="height: 80%;margin: 0px;">
      <h3 *ngIf = "dishesInCart.length == 0" >You currently have no meals in the cart</h3>
      <ion-list *ngIf = "dishesInCart.length != 0" class="dishesList">
        <app-mobile-meal *ngFor="let dish of dishesInCart" [mobileDish]="dish"></app-mobile-meal>
      </ion-list> 
    </div>
    
    <ion-button (click)="finishOrder()" style="width: 100%;height: 6%;">PLACE ORDER</ion-button>
  </div>
</ion-content>