.profile {
    height: 10%;
    width: 100%;
    text-align: center;
    display: grid;
    vertical-align:bottom;
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
}

.backButton {
    height: 30px;
    width: 5%; background-color: white;
    text-align: center;
}