<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-img class="logo center" src="/assets/images/logo.png"></ion-img>

  <ion-item class="input center" [hidden]="!userService.isAsRestourant">
    <ion-label position="floating">Restourant name</ion-label>
    <ion-input [(ngModel)]="restourantName"></ion-input>
  </ion-item>

  <ion-item class="input center" [hidden] = "!userService.isSignUp">
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item class="input center">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item class="input center">
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>


  <ion-item class="center toggleButton" [hidden] = "!userService.isSignUp" >
    <ion-label>As restaurant</ion-label>
    <ion-toggle [(ngModel)]="userService.isAsRestourant" ></ion-toggle>
  </ion-item>


  <div class="centerButton">
    <ion-button (click)="authenticate()">{{userService.mapAuthModeToAuthButtonString()}}</ion-button>
  </div>
  <br>
  <div class="centerButton">
    <ion-button color="light" class="authModeButton" (click)="userService.changeAuthMode()">{{userService.mapAuthModeToString()}}</ion-button>
  </div>

</ion-content>