.logo {
    width: 100px;
    margin: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centerButton {
    text-align:center;
}

.toggleButton {
    width: 200px;
}

.input {
    width: 500px;
    border-color: #09B44D;
    border-width: thin;
    border-style: solid;
    border-bottom: none;
    border-radius: 3px;
    margin-bottom: 15px;
}


.active{
    color: blue;
}

.authModeButton {
    color : green;
}
