
<ion-content style="display: flex; flex-wrap: nowrap;">
<!--   <app-side-nav></app-side-nav>
 -->  
 
    <div style="height: 100%;padding: 30px;">
      <div class="title">
        <h4 style="font-weight: bold;">ADD NEW MEAL</h4>
      </div>
      <div style="display: flex; flex-wrap: nowrap;">
        <div style="width: 50%;">
         <ion-item class="input center" >
            <ion-label position="floating">Meal name</ion-label>
            <ion-input [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item class="input center" >
              <ion-label position="floating">Meal description</ion-label>
              <ion-input [(ngModel)]="description" ></ion-input>
          </ion-item>
        </div>
        <ion-input type="file" accept=".jpg, .png, .jpeg" (ionChange)="changeListener($event)" ></ion-input>
        <div class="input-circle" (click)="pickImage()">
          <ion-icon style="margin-top: 41px;" name="person-outline"></ion-icon>
        </div>
      </div>

      <div style="width: 50%; padding-top: 10px;">
        <div style="display: flex;text-align: end;">
          <div style="flex-grow: 1;">
          </div>
          <ion-button style="flex-grow: 1;" (click)="onSaveDish()">SAVE</ion-button>
          <ion-button style="flex-grow: 1;" (click)="onCancel()">CANCEL</ion-button>
        </div>
      </div>
    </div>
 
    

</ion-content>
