<ion-content style="display: flex; flex-wrap: nowrap;">
  <!--   <app-side-nav></app-side-nav>
 -->

  <div style="height: 100%;padding: 30px;">
    <div class="title">
      <h4 style="font-weight: bold;">ADD NEW MEAL</h4>
    </div>
    <div style="display: flex; flex-wrap: nowrap;">
      <div style="width: 50%;">
        <ion-item class=" center" style="width: 100%;">
          <ion-label position="floating">Meal name</ion-label>
          <ion-input [(ngModel)]="name" (ionChange)="onNameChanged($event)"></ion-input>
        </ion-item>
        <ion-item class=" center" style="width: 100%;">
          <ion-label position="floating">Meal description</ion-label>
          <ion-input [(ngModel)]="description"></ion-input>
        </ion-item>
        <div style="display: flex;text-align: end;">
          <div style="flex-grow: 1;">
          </div>
          <ion-button style="flex-grow: 1;" [disabled]="isSaveDisabled" (click)="onSaveDish()">SAVE</ion-button>
          <ion-button style="flex-grow: 1;" (click)="onCancel()">CANCEL</ion-button>
        </div>
      </div>
      <div style="width: 50%; text-align: center;">
        <div class="center" style="height: 150px;width: 150px;border: 2px solid; margin-bottom: 15px;">
          <img class="center" style="height: 100%;width: 100%;" [src]="imageUrl" [hidden]="!imageUrl">
        </div>
        <input class="center" type="file" accept=".jpg, .png, .jpeg" name="inputFile" (change)="changeListener($event)" required>
      </div>

    </div>

  </div>



</ion-content>